<!-- table>thead>tr>th*3 -->
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of personas">
            <td>{{persona.id}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.email}}</td>
            <td>
                <a class="btn btn-primary" routerLink="persona-detalle">Modificar</a>
                &nbsp;
                <a class="btn btn-danger" href="#">Borrar</a>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary">Añadir</button>
